################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HD44780.vcxitems
/vs-readme.txt
